<div leaflet class="map"
	[leafletOptions]="options"
	[leafletLayers]="layers"
	[leafletLayersControl]="layersControl"
	[leafletZoom]="zoom"
	(leafletZoomChange)="onZoomChange($event)"
	[leafletCenter]="center"
	(leafletCenterChange)="onCenterChange($event)"
	(leafletMapReady)="onMapReady($event)">
</div>
<div class="controlls"> 
	<button class="go-to-city-btn" (click)="goToCity('Spb')">Spb</button>
	<button class="go-to-city-btn" (click)="goToCity('Smr')">Smr</button>
	<button class="go-to-city-btn" (click)="goToCity('Kzn')">Kzn</button>
</div>




